@import "tailwindcss";

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-MyColor : #090A15;
}

/* Add the fadeIn animation we used */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}

@media (max-width: 768px) {
  .bottom-nav {
    display: none;
  }


}

/* https://www.prisma.io/illustrations/home-page/hero.svg */